itlanbaoApp/.gradle/
itlanbaoApp/ITLanBaoProject/build/
itlanbaoApp/ITLanBaoProject/bin/
itlanbaoApp/ITLanBaoProject/.settings/
itlanbaoApp/ITLanBaoProject/gen/
itlanbaoApp/.idea/
itlanbaoApp/ITLanBaoBaseLib/.settings/
itlanbaoApp/ITLanBaoBaseLib/
